<div *ngIf="dataProduct">
  <button (click)="goBack()">go back</button>
  <h2>{{dataProduct.name}} - Data product details</h2>

  <img src="{{dataProduct.image}}" alt="Data product image" usemap="#workmap">

  <map name="workmap">
    <area shape="rect" coords="700,100,900,250" alt="Output port 1" href="{{dataProduct.output_port[0].metadata_link}}" target="_blank">
    <div *ngIf="dataProduct.output_port[1]">
      <area shape="rect" coords="700,325,900,425" alt="Output port 2" href="{{dataProduct.output_port[1].metadata_link}}" target="_blank">
    </div>
  </map>

  <table class="styled-table">
    <thead>
    <tr>
      <th>Data product description</th>
      <th>{{dataProduct.description}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Owner name</td>
      <td>{{dataProduct.owner_name}}</td>
    </tr>
    <tr>
      <td>Owner email</td>
      <td>{{dataProduct.owner_email}}</td>
    </tr>
    <tr>
      <td>Domain context</td>
      <td>{{dataProduct.domain_context}}</td>
    </tr>
    <tr>
      <td>Data classification level</td>
      <td>{{dataProduct.data_classification_level}}</td>
    </tr>
    <tr>
      <td>Creation date</td>
      <td>{{dataProduct.creation_date}}</td>
    </tr>
    <tr>
      <td>Latest update</td>
      <td>{{dataProduct.latest_update}}</td>
    </tr>
    <tr>
      <td>Data quality reports</td>
      <td>Click <a href="{{dataProduct.observability_reports_link}}" target="_blank">here</a></td>
    </tr>
    <tr>
      <td>Data preview</td>
      <td>Click <a href="http://localhost:8088/r/4" target="_blank">here</a></td>
    </tr>
    <tr>
      <td>Rate</td>
      <td><img src="{{dataProduct.rate}}" alt="Data product rate" width="150" height="30"></td>
    </tr>
    </tbody>
  </table>

  <table class="styled-table">
    <thead>
    <tr>
      <th>Data product output port</th>
      <th>How can I get access?
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let outputPort of dataProduct.output_port">
      <td>{{outputPort.sink}}</td>
      <td>{{outputPort.how_to_access}}</td>
    </tr>
    </tbody>
  </table>
</div>


