<h2>Data Products</h2>
<ul class="data-products">
  <li *ngFor="let dataProduct of dataProducts" [class.selected]="dataProduct === selectedDataProduct" (click)="onSelect(dataProduct)">
    <span class="badge">{{dataProduct.id}}</span> {{dataProduct.name}}
  </li>
</ul>

<div *ngIf="selectedDataProduct">

  <h2>{{selectedDataProduct.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedDataProduct.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedDataProduct.name" placeholder="name"/>
    </label>
  </div>

</div>
